@model IEnumerable<O_que_comeu_a_Ritinha.Models.Ingredients>

@{
    ViewData["Title"] = "Ingredientes";
}

<h1 class="text-center">Lista de Ingredientes</h1>

<p class="text-center">
    <a asp-action="Create">Criar novo Ingrediente!</a>
</p>
<table class="table text-center">
    <thead>
        <tr class="row">
            <th class="col">
                Ingrediente
            </th>
            <th class="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="row">
                <td class="col">
                @Html.DisplayFor(modelItem => item.Ingredient)
            </td>
            <td class="col">
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
