@{
	ViewData["Title"] = "Política de Privacidade";
}

<div id="backcolor">
	<h1 class="text-white">@ViewData["Title"]</h1>

	<p class="text-white">Armazenamos os teus dados simplesmente para estatísticas e para futuros melhoramentos.</p>
</div>