@page "{userId?}"
@model O_que_comeu_a_Ritinha.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
	ViewData["Title"] = "Confirma o teu Email";
}

<div id="backcolor">
	<h1 class="mb-3 text-white">@ViewData["Title"]</h1>
	<div class="w-75">
		<p class="text-white">@Model.StatusMessage
			@if (!string.IsNullOrEmpty(Model.StatusMessage) && Model.StatusMessage.Contains("Podes realizar"))
			{
				<a asp-page="./Login">login!</a>
			}
			</p>

		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Input.UserId" />
			<div class="form-group">
				<label class="text-white" asp-for="Input.Token"></label>
				<input asp-for="Input.Token" class="form-control" />
				<span asp-validation-for="Input.Token" class="text-danger"></span>
			</div>
			<button type="submit" class="m-3 btn btn-lg btn-primary">Confirmar Email</button>
		</form>
	</div>
</div>