@page
@model ForgotPasswordConfirmation
@{
	ViewData["Title"] = "Confirmação da reiniciação da password";
}

<div id="backcolor">
	<h1 class="mb-3 text-white">@ViewData["Title"]</h1>
	<p class="text-white m-0">
		Vê o teu email para reiniciar a tua password.
	</p>
</div>