@page
@model ResetPasswordConfirmationModel
@{
	ViewData["Title"] = "Confirmação do restauro da password";
}

<div id="backcolor">
	<h1 class="mb-3 text-white">@ViewData["Title"]</h1>
	<p class="text-white">A tua password foi restaurada com sucesso. Por favor, <a asp-page="./Login">clica aqui para entrares</a>.</p>
</div>