@model ErrorViewModel
@{
	ViewData["Title"] = "Erro";
}

<div id="backcolor">
	<h1 class="text-danger">Erro</h1>
	<h2 class="text-danger">Um erro ocorreu enqunto processava o teu pedido.</h2>

	@if (Model.ShowRequestId)
	{
		<p class="text-white">
			<strong>ID do Pedido:</strong> <code>@Model.RequestId</code>
		</p>
	}
</div>