header {
  background-color: #f0aec0;
  border-radius: 0px 0px 10px 10px;
}

footer {
  background-color: #f0aec0;
  border-radius: 10px 10px 0px 0px;
}

#backcolor {
  background-color: #f0aec0;
  border-radius: 15px;
  padding: 24px;
  width: 100%;
}

.table-custom {
  background-color: #ffffff;
  border-radius: 20px;
}

.table-custom th,
.table-custom td {
  vertical-align: middle;
  width: 33.33%;
  border-radius: 20px;
}

.table-custom tr:last-child td {
  border-bottom: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que ocupa toda a altura da tela */
}

.flex-fill {
  flex: 1; /* Isso permite que o conteúdo ocupe o espaço restante */
}

footer {
  margin-top: auto; /* Garante que o footer fique no final */
}