@model O_que_comeu_a_Ritinha.Models.Tags

@{
	ViewData["Title"] = "Apagar Tag";
}

<div id="backcolor">

	<h1 class="text-white">Apagar</h1>

	<h3 class="text-white">Tens a certeza que queres apagar esta tag?</h3>
	<h3 class="text-black bg-white m-3 p-2 rounded">@Html.DisplayFor(model => model.Tag)</h3>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Apagar" class="btn btn-danger m-2" />
		<a asp-action="Index" class="btn btn-info m-2">Voltar à lista!</a>
	</form>
</div>
